	
	<div class="span8 offset2">
		Welcome to the Make_Me Application.  I know I have created a ton of "to list" over the years:
			<ul>
				<li>Recipes that I want to try</li>
				<li>Resturants that I should go to</li>
				<li>My Bucket List</li>
				<li>Places to see</li>
			</ul>
		These lists keep growing and growing and I rarely check it out when I am looking for something to do. It is just too daunting.  Make_Me is an application to take the decision out of your hands.
		Select a category and we will tell you what to do.  That's it, go do it.
		(can't?)
		Well, we let you skip doing something up to <strong>three</strong> times, no more.  If you skip it more than three times, you probably really don't want to do it.
	</div>
	<% if user_signed_in? %>
		<div class="span12" style="padding-top:15px">
		<div><h2>Your Categories:</h2></div>
			<% if @lists.size > 0 %>
			<div>Click to name of the category to see what you need to do next.</div>
				<table class="table-striped table-bordered table-condensed">
					<tr>
						<th>Name</th>
						<th>Total Number of Items</th>
						<th>Completed Items</th>
						<th>Actions</th>
					</tr>
					<% @lists.each do |list| %>
						<tr>
							<td><%= link_to(list.name, {:controller =>'items', :action => 'display', :list_id => list.id}) %></td>
							<td>(<%=list.items.size%>)</td>
							<td>(<%=list.items.where("completed_on IS NOT NULL").size%>)</td>
							<td>
								<%= link_to("<i class=\"icon-trash icon-white\"></i>".html_safe, {:action => 'destroy', :id => list.id}, :class => "btn btn-warning btn-mini") %>
								<%= link_to("<i class=\"icon-pencil icon-white\"></i>".html_safe, {:action => 'edit', :id => list.id}, :class => "btn btn-info btn-mini") %>
								<%= link_to("<i class=\"icon-list icon-white\"></i>".html_safe, {:controller => 'items', :action => 'list', :id => list.id}, :class => "btn btn-success btn-mini") %>
							</td>
						</tr>
					<% end %>
				</table>
			<% else %>
				<div>
					<p>You do not have any Categories yet, please add one below</p>
				</div>
			<% end %>
			<div class="row">
				<div class="span5 btnbar">
					<%=link_to("Add new List", {:action => 'new'}, {:class => "btn btn-primary"})%>
				</div>
			</div>
		</div>
	<% end %>