	<%= render(:partial => "backToLists") %>
	<h2>Items within <%= @list.name%></h2>
	<% if @items.size > 0 %>
	<div class="span9">	
		<table class="table-striped table-bordered table-condensed">
			<tr>
				<td>Name</td>
				<td>Selected</td>
				<td>Completed</td>
				<td>Skipped</td>
				<td>Date Added</td>
				<td>Actions</td>
			</tr>
			<% @items.each do |item| %>
				<tr>
					<td>
						<% if(item.selected) %>
							<%= link_to(item.name, {:action => 'display', :list_id => item.list.id} ) %>
						<% else %>
							<%= item.name %>
						<% end %>
					</td>
					<td>
						<% if (item.selected) %>
							<i class="icon-ok-sign"></i>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td>
						<% if (item.completed_on) %>
							<i class="icon-ok-sign"></i><span><%= item.completed_on.to_s(:short) %></span>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td>
						<% if (item.number_of_skips > 0) %>
							<span><%= item.number_of_skips %></span>
						<% else %>
							&nbsp;
						<% end %>
					</td>
					<td>
						<span><%= item.created_at.to_s(:short) %></span>	
					</td>
					<td>
						<%= link_to("<i class=\"icon-trash icon-white\"></i>".html_safe, {:action => 'destroy', :id => item.id}, :class => "btn btn-warning btn-mini") %>
						<%= link_to("<i class=\"icon-pencil icon-white\"></i>".html_safe, {:action => 'edit', :id => item.id}, :class => "btn btn-info btn-mini") %>
					</td>
				</tr>
				
			
			<% end %>
		</table>
	</div>
	<% else %>
		<div>
			<p>There are no items, please add one below</p>
		</div>
	<% end %>
	<p></p>
	<div class="row">
		<div class="span5 btnbar">
			<%=link_to("Add new Item", {:action => 'new', :id => @list.id}, {:class => "btn btn-primary"})%>
		</div>
	</div>