<%= link_to "Make_Me", {:controller => 'lists'}, :class => 'brand' %>
<ul class="nav">
  <% if signed_in? %>
    <li>
    <%= link_to 'Sign out', sign_out_path, :method => :delete %>
    </li>
    <li>
    <%= link_to 'Add Services', {:controller => 'authentications'} %>
    </li>
	
  <% else %>
    <li>
    <%= link_to 'Sign in', sign_in_path %>
    </li>
	  <li>
    <%= link_to 'Sign up', sign_up_path %>
    </li>
  <% end %>
  
</ul>